<footer class=" bg-light-blue py-4">
  <div class="container">
    <div class="d-md-flex justify-content-between align-itmes-center">
      <a class="navbar-brand" href="#"><img src="../../images/logo.png" /></a>
        <ul class="nav font-weight-normal  flex-column flex-md-row">
        <li class="nav-item">
          <a href="#" class="nav-link active"> How it Works </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link"> Calculators</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link "> Money Blog </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link"> Help Center </a>
        </li>
      </ul>
    </div>

    <div class="d-lg-flex justify-content-between align-itmes-center mt-5">
      <div class="d-md-flex">
        <ul class="nav flex-column border-0 font-weight-light vertical-line mb-md-0 mb-3">
          <h3 class="text-secondary"> Loans </h3>
          <li class="nav-item py-2">
            <a href="#"> How it Works </a>
          </li>

          <li class="nav-item py-2">
            <a href="#"> Calculators</a>
          </li>

          <li class="nav-item py-2">
            <a href="#"> Money Blog </a>
          </li>

          <li class="nav-item py-2">
            <a href="#"> Help Center </a>
            <a href="#" class="px-2"> Help Center </a>
          </li>
        </ul>

        <ul class="nav flex-column border-0 font-weight-light vertical-line px-md-4 mb-md-0 mb-3">
          <h3 class="text-secondary"> Cridet Cardes </h3>
          <li class="nav-item">
            <a href="#">Credit Cards</a>
          </li>
        </ul>

        <ul class="nav flex-column border-0 font-weight-light vertical-line px-md-4 mb-md-0 mb-3">
          <h3 class="text-secondary"> Saving Deposit </h3>
          <li class="nav-item">
            <a href="#"> Saving Deposits</a>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <ul class="nav border-0 social-media flex-row justify-content-center">
          <li class="nav-item py-2">
            <a href="#" class="nav-link px-2"> <h2 class="icon-linkedin"></h2> </a>
          </li>

          <li class="nav-item py-2">
            <a href="#" class="nav-link px-2"> <h2 class="icon-instagram"></h2> </a>
          </li>

          <li class="nav-item py-2">
            <a href="#" class="nav-link px-2"> <h2 class="icon-youtube"></h2> </a>
          </li>

          <li class="nav-item py-2">
            <a href="#" class="nav-link px-2"> <h2 class="icon-twitter"></h2> </a>
          </li>

          <li class="nav-item py-2">
            <a href="#" class="nav-link px-2"> <h2 class="icon-facebook"></h2> </a>
          </li>
        </ul>
        <button class="btn btn-primary mt-md-5"><span class="icon-comment"></span> Help? </button>
      </div>
    </div>
  </div>
</footer>